
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    max-width: 100%;
   

   

}
body{
    background-color: rgba(0, 0, 0, 0.925);
    font-family: Inter;
    max-width: 100%;
}
main{
    background-color: rgba(0, 0, 0, 0.925);
}
.paragraph{
    
        color: rgba(239, 237, 232, 0.65);
        font-size: 16px;
        font-weight: 400;
        margin-top: 10px;
    
}
.primary-headings{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
}
.secondary-headings{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
}
.img-cap{
    color: white;
    font-size: 24px;
    font-weight: 700;
}
/* nav css started */
.nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    
}
.nav-left{
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
}
.nav-right{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    
}
.nav-menu-btn{
    margin-left: 15px;
    padding: 8px 20px 8px 20px;
    border-radius: 46px;
    border: none;
    background-color: transparent;
    color:rgb(255, 255, 255); 
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
   
}
.nav-home{
    padding: 8px 20px 8px 20px;
    background-color: rgb(230, 83, 60);
    border-radius: 46px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    margin-left: 2px;
    
}

/* nav css ends */

/* hero css starts */
.hero-container-main{
    background-image: linear-gradient(180.00deg,  rgb(19, 18, 18),rgb(49, 49, 49) 100%);
}
.hero-container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
   
}
.hero-text-content{
    width: 50%;
   
    padding: 20px;
  
}
.hero-title{
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 900;
}
.hero-para{
    color: rgba(255, 255, 255, 0.5);
font-size: 18px;
font-weight: 400;
text-align: justify;
}
.hero-img{
    width: 30%;
    position: relative;
   
}
.hero-img img{
    width: 100%;
}
.hero-btn{
    margin-top: 20px;
    padding: 16px 40px 16px 40px;
    border: none;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
   
   
}
.hero-btn1{
    background-color: rgb(230, 83, 60);
    border: none;
    margin-right: 10px;
}
.videos{
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
}
.first-card{
    position: absolute;
    bottom: 190px;
    right: 220px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}


.circle { 
    height: 40px;  
    width: 40px; 
    border: solid 1px;  
    border-radius: 50%; 
    background-color: rgb(230, 83, 60);; 
    display: inline-block;
}

.second-card{
    position: absolute;
    top: 130px;
    left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.second-card p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
}

/* hero css section ends */
.habit-container{
    max-width: 1000px;
    margin: 0 auto;
   
   
}
.habit-img-section{
    display: flex;
    margin-top: 30px;
  
   
}
.havit-title{
    text-align: center;
    width: 60%;
   margin: 0 auto;
   padding: 50px;
}
.havit-title h2{
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 14px;
}
.habit-img-section{
    margin-top: 50px;
}
.habit-img-heading{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.habit-img-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.havit-img-container img{
   border-radius: 50%;
}
.havit-disc{
    text-align: center;
    margin-top: 5px;
}
.havit-img-flex{
    width: 60%;
    border-radius: 50%;
    border: 1px solid white;
    margin-bottom: 15px;
}
/* havit css ends */

/* Extra Mile css started */
.Extra-mile-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: 62px auto;
    padding: 20px;
    border-radius: 18px;
    background-color: rgb(34, 34, 34);;
}
.Extra-mile-text{
    width: 40%;

}
.Extra-mile-text h1{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 15px;
}
.Extra-mile-img{
    width: 40%;
}
.Extra-mile-img img{
    width: 100%;
    border-radius: 18px;;
}

/* extra mile css section ends */

/* trainings and exercise css starts */
.training-main{
    width: 1000px;
    margin: 0 auto;
}
.training-text{
    width: 60%;
}

.training-img{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    height: 500px;
    margin-top: 30px
}
.image-1{
    background-image:
    linear-gradient( rgba(6, 255, 210, 0.5), rgba(6, 255, 210, 0.5)),
    url('../resource/exercise1.jpg');

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-column: 1/span 3 ;
    grid-row: 1/span 4;
}



.image-2{
    background-image:
    linear-gradient( rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3)),
    url('../resource/exercise2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
grid-column: 4/span 6;
grid-row: 1/span 4;

}
.image-3{
    background-image:
    linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../resource/exercise3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
grid-column: 10/span 3;
grid-row: 1/span 4;

}
.image-4{
    background-image:
    linear-gradient(  rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../resource/exercise4.png');
    background-repeat: no-repeat;
    background-size: cover;
grid-column: 1/span 6;
grid-row: 5/span 4;




}
.image-5{
    background-image:
    linear-gradient( rgba(66, 255, 0, 0.3), rgba(66, 255, 0, 0.3)),
    url('../resource/exercise5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
grid-column: 7/span 3;
grid-row: 5/span 4;


}
.image-6{
    background-image:
    linear-gradient( rgba(4, 23, 71, 0.3), rgba(4, 23, 71, 0.3)),
    url('../resource/exercise6.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
grid-column: 10/span 3;
grid-row: 5/span 4;


}

/* trainings and exercise css ends */

/* BMI CSS starts here */
.bmi-main{
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 80px;
    
}
.bmi-text{
    width: 60%;
    margin-left: 200px;
}

/* BMI css ends here */

/* Bmi calculator css starts here */
.bmi-calculator-main{
    width: 100%;
    background-color: rgb(34, 34, 34);
    padding: 50px;
}
.bmi-calculator-container{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
   
    
}
.calc-chart{
    width: 40%;
    margin-top: 55px;
}
.calc-chart h2{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 50px;
}
.calc-table {
    border-collapse: collapse;
   border: 1px solid rgba(239, 237, 232, 0.65) ;
   border-spacing: 0;
   width: 80%;
  
}
.calc-table td{
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
    padding: 15px;
    border-collapse: collapse;
    border: 1px solid rgba(239, 237, 232, 0.65) ;
   
   
    
}
.calc-table th{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 15px;
    border-collapse: collapse;
    border: 1px solid rgba(239, 237, 232, 0.65) ;
    
}
.bmi-form{
    width: 50%;
    margin-top: 50px;
}
.form-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-field{
    width: 48%;
    margin-top: 30px;
}
.form-field-text-area{
    width: 100%;
    margin-top: 30px;
}
.form-container input, textarea, select{
width: 100%;
height: 50px;
border-radius: 8px;
background-color: rgba(255, 255, 255, 0.1);
 /* color: rgba(255, 255, 255, 0.8); */
/* margin-left: 10px; */
} 
.input-padding{
    padding-left: 30px;
    color: rgb(207, 171, 241);
  
}


/* Bmi calculator css ends here */

/* gym membership css starts */
.gym-membership-main{
width: 100%;
background-color: rgb(1, 1, 22);
display: flex;
}
.gym-membership-container{
    width: 1000px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
   

}

.membership-text{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 60%;
}
.membership-text p{
    margin-left: 10px;
    margin-top: 20px;
    text-align: justify;
}
.tik{
    color: yellow;
   
}
.membership-img{
 width: 100%;   
}
.membership-img img{
    width: 100%;
    border-radius: 18px;
}
/* gym membership css ends */

/* meet css starts here */
.meet-main{
    width: 1000px;
    margin: 0 auto;
}
.meet-text{
text-align: center;
margin-top: 50px;
}

.meet-img-container{
    background-color: rgb(34, 34, 34);
    padding: 20px;
    border-radius: 18px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-top: 30px;
  
}
.img-measure{
    position: relative;
    
}
.meet-img-container img{
    width: 100%;
    height: 272px;
    border-radius: 18px;
    filter: brightness(70%);
  
}
.trainer-name{
    position: absolute;
    top: 210px;
    left: 20px;
}
/* meet css ends here */

/* about css starts here */
.about-main-container{
    background-color: rgb(34, 34, 34);
    margin-top: 80px;
}
.about-main{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 60px;
    /* margin-bottom: 50px; */
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.about-left{
width: 50%;
}
.about-middle{
width: 20%;
}
.about-right{
width: 20%;
}
.about-left h1{
    color: rgb(230, 83, 60);
    font-size: 60px;
    font-weight: 800;
}
/* about css starts here */

/* footer css starts here */
.footer-main{
    padding: 20px;
    background-color: rgb(34, 34, 34);
}
.footer-container{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
   
    
}
/* footer css ends here */


