
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    max-width: 100%;
   

   

}
body{
    background-color: rgba(0, 0, 0, 0.925);
    font-family: Inter;
    max-width: 100%;
}
.paragraph{
    
        color: rgba(239, 237, 232, 0.65);
        font-size: 16px;
        font-weight: 400;
    
}
/* nav css started */
.nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    
}
.nav-left{
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
}
.nav-right{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    
}
.nav-menu-btn{
    margin-left: 15px;
    padding: 8px 20px 8px 20px;
    border-radius: 46px;
    border: none;
    background-color: transparent;
    color:rgb(255, 255, 255); 
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
   
}
.nav-home{
    padding: 8px 20px 8px 20px;
    background-color: rgb(230, 83, 60);
    border-radius: 46px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    margin-left: 2px;
    
}

/* nav css ends */

/* hero css starts */
.hero-container-main{
    background-image: linear-gradient(180.00deg,  rgb(19, 18, 18),rgb(49, 49, 49) 100%);
}
.hero-container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
   
}
.hero-text-content{
    width: 50%;
   
    padding: 20px;
  
}
.hero-title{
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 900;
}
.hero-para{
    color: rgba(255, 255, 255, 0.5);
font-size: 18px;
font-weight: 400;
text-align: justify;
}
.hero-img{
    width: 30%;
    position: relative;
   
}
.hero-img img{
    width: 100%;
}
.hero-btn{
    margin-top: 20px;
    padding: 16px 40px 16px 40px;
    border: none;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
   
   
}
.hero-btn1{
    background-color: rgb(230, 83, 60);
    border: none;
    margin-right: 10px;
}
.videos{
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
}
.first-card{
    position: absolute;
    bottom: 190px;
    right: 220px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}
.first-card h2{
    color: rgb(250, 250, 249);
    font-size: 24px;
    font-weight: 900;
}

.circle { 
    height: 40px;  
    width: 40px; 
    border: solid 1px;  
    border-radius: 50%; 
    background-color: rgb(230, 83, 60);; 
    display: inline-block;
}

.second-card{
    position: absolute;
    top: 130px;
    left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.second-card h1{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;
}
.second-card p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
}

/* hero css section ends */
.habit-container{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
   
}
.habit-img-section{
    display: flex;
    margin-top: 30px;
  
   
}
.havit-title{
    text-align: center;
    width: 60%;
   margin: 0 auto;
}
.havit-title h2{
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 14px;
}
.habit-img-section{
    margin-top: 50px;
}
.habit-img-heading{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.habit-img-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.havit-img-container img{
   border-radius: 50%;
}
.havit-disc{
    text-align: center;
    margin-top: 5px;
}
.havit-img-flex{
    width: 60%;
    border-radius: 50%;
    border: 1px solid white;
    margin-bottom: 15px;
}


